/*Fuentes*/
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Roboto&display=swap');

/* Cuerpo */
body{
    background: #eee;

}

/*Caja de Login */
.wrapper{
    margin: 80px;
}

/* Formulario*/
.form-signin{
    max-width:380px;
    margin: 0 auto;
    background-color: #fff;
    padding:15px 40px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}
/* Formulario login -Cabeza --Formulario --Caja checkbox*/
.form-signin .form-signin-heading, .form-signin .checkbox{
margin-bottom: 30px;
}

/*Cajas de texto --Correo --Password */
.form-signin input[type="text"], .form-signin input[type="password"]{
    margin-bottom:20px;
}

<<<<<<< HEAD
* fonts /
@import url(...);
html {
    font-size: 100%;
} /16px/

:root {

}

body {

}

p {

}

h1,
h2,
h4 {

}

.img-carrosel {

}

.btn {

}

.btn:hover {

}
=======


html {
    font-size: 100%;
} /*16px*/

>>>>>>> 37a99a12c674fc00f794d5af78d95c88fd1114d3

.navbar-custom {
    background-color:rgba(35, 54, 84, 1);
}

<<<<<<< HEAD
.contenedor{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
padding-bottom: 5px;
}
.item1{
    background-color: black;
}






.itemubicacion{
    text-align: center;
    
}

.container2{
    background-color: black;
    text-align: center;
}

.container2 p{
    margin-bottom: 0
}
=======

/*IMAGEN AVATAR*/
.avatar{
    width:100px;
    height:100px;
    border-radius: 50%;
    position:absolute;
    top: -50px;
  left:calc(50% - 50px);
  
}

>>>>>>> 37a99a12c674fc00f794d5af78d95c88fd1114d3
