/* clases de imag doctores*/
.imagenDoct{
    width: 20rem;
}
.imagenDoct1{
    width: 23rem;
}
.imagenDoct2{
width: 22rem;
}
.imagenDoct2{
    width: 22rem;
}
.imagenDoct3{
    height: 22rem;
    width: 22rem;
}

/* estilos de cards informacion imagenes*/
.img-box{
    width: 480px;
    height: 250px;
    
}
.element-style {
    width: 80px;
    height: 10px;
}
/* textos titulos */
 .texto-tamañoo{
    font-size: 400rem;
} 
.texto-servicio{
    font-size: 25px;
}
/* mas informacion */
.facebook{
    height: 17rem;
    width: 18rem; 
}
.texto-Info{
    font-size: 100rem;
}
/* comentarios */
.comentarios{
    border: 50rem solid #000000;
    color: blue;
   
}
.footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
padding-bottom: 5px;

}
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.contactanostxt{
    font-size: 25px;
}