
/* body{ 
    background-color: rgb(205, 145, 229);
}
.color{
    background-color: rgb(205, 145, 229);
} */

/* clases de imag doctores*/
.imagenDoct{
    width: 20rem;
}
.imagenDoct1{
    width: 23rem;
}
.imagenDoct2{
width: 22rem;
}
.imagenDoct2{
    width: 22rem;
}
.imagenDoct3{
    height: 22rem;
    width: 22rem;
}

/* estilos de cards informacion imagenes*/
.imagen-instagram{
    width: 300px;
    height: 300px;
}
.imagen-facebook{
    width: 280px;
    height: 280px;
}

/* textos titulos */
 .texto-tamañoo{
    font-size: 400rem;
} 
.texto-servicio{
    font-size: 25px;
}
/* mas informacion */
.facebook{
    height: 17rem;
    width: 18rem; 
}
.texto-Info{
    font-size: 100rem;
}

/* comentarios */
.comentarios{
    border: 50rem solid #000000;
    color: blue;
   
}
/* comentarios caja */
.caja-comentarios{
    border: solid rgb(64, 214, 231);
    background-color: azure;
}
.footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
padding-bottom: 5px;

}
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.contactanostxt{
    font-size: 25px;
}
/* googleMaps */
.map {
    background-color: rgb(39, 193, 193);
    height: 200px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }