@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Roboto&display=swap');

html{
    background-size: 85%;
  }

.img-card {
    height: 160px;
    transition: height 1s;
    object-fit: cover;
}

.img-card:hover {
    height: 170px;
}

.card {
    height: 23rem;
    transition: height 2s;
}

.card:hover {
    height: 23.5rem;
    color: #ffffff;
    background-color: rgba(35, 54, 84, 1);
}

.contenedor{

    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 5px;

}
    
.item1{
    background-color: black;
}

.itemubicacion{

    text-align: center;
}
    
.container2{

    background-color: black;
    text-align: center;

}
    
.container2 p{
    margin-bottom: 0
}
    
.footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
padding-bottom: 5px;
font-family: 'Roboto';

}
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.textoservicio{
    font-size: 25px;

}
