.linea {
    background-color: #1A9FDA;
    width: 50%;
}

.banner{
    background-color: #00507D;
}

.carousel-item {
    height: 400px;
    margin: 2%;
    margin-bottom: auto;
}

.carousel-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.card-promo{
    /* display: grid; */
        grid-template-rows: 6rem 3rem 3rem 8rem;
        grid-template-columns: 1fr;
        margin-bottom: 4%;
        box-shadow: 13px 13px 20px #cbced1,
        -13px -13px 20px #fff;
}
.tarjeta {
    display: inline-block;
}

.card-img{
    object-fit: scale-down;
}

#carouselExampleFade{
    display: inline-block;
}
.imgvision{
    width: 85%;
}

.imgen-castor{
    max-width: 50%;
    max-height: 50%;
}

.contenido{
    margin-top: 2%;
    text-align: justify;
}
.EncabezadoCuidados{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: white;
    padding: 1%;
}

.frase-text{
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.EncabezadoCuidados{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    padding: 1%;
}

.castor1{
    display: flex;
    justify-content: space-around;
    object-fit: cover;
}



.fondos {
    background-color:#1A9FDA;
    animation: gradient 15s ease infinite;
}

.div_testi {
    margin-top: 20px;
}

header{
    display: block;
}



.section_header_h {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 36px;
    overflow-wrap: break-word;
}

.section_header.align-center {
    text-align: center;
}

.section_header.align-center
.section_header_h>span::before {
    left: 50%;
    transform: translateX(-50%);
}

.section_header_h>span::before {
    background-color: #fff !important;
}

.section_header_h>span::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 5px;
    border-radius: 10px;
    padding-bottom: 2px;
}

::before {
    box-sizing: border-box;
}

.TarjetasTestimonios {
    position: relative;
    padding: 2;
    width: 250px;
    height: 250px;
    color: rgb(0, 0, 0); 
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}


.card-1{
    background: url(../images/imagenes-proyecto/Testi-1.png);
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}

.card-2{
    background: url(../images/imagenes-proyecto/Testi-2.png);
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}

.card-3{
    background: url(../images/imagenes-proyecto/Testi-3.png);
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}

.card-4{
    background: url(../images/imagenes-proyecto/Testi-4.png);
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}

.card_content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px rgb(255, 255, 255);
}

.card_title {
    color: rgb(0, 0, 0);
    line-height: 15px;
}

.card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
}

.card:hover .card_content {
    transform: translateY(0);
}

.card:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
}

.card-grid-space {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}

.link{
    text-align: center;
}


.cuadroAgendarCita{
    min-height: 50vh;
    margin-top: 4%;
    margin-bottom: 20%;
    padding: 2%;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #fff;  
}

.formularioRegistro{
    min-height: 50vh;
    margin-top: 4%;
    margin-bottom: 20%;
    padding: 2%;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #fff;
}

.castor-background{
    background-size: 100%;
}


.pie{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
padding-bottom: 5px;
}
.item1{
    background-color: black;
}






.itemubicacion{
    text-align: center;
    
}

.container2{
    background-color: black;
    text-align: center;
}

.container2 p{
    margin-bottom: 0
}
.footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
padding-bottom: 5px;

}
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.textocita{
    font-size: 25px;
}
.textonav{
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
}


.fields {
    width: 100%;
    padding: 25px 5px 5px 5px;
    
}

.fields input {
    border: none;
    outline: none;
    background: none;
    font-size: 12px;
    color: rgb(85, 85, 85);
    padding: 20px 10px 20px 5px;
}

.users{
    margin-bottom: 3px;
    border-radius: 20px;
    box-shadow: 
        inset 4px 4px 4px #cbced1,
        inset -2px -2px 4px #fff;
        width: 230px;
    height: 40px;
    padding: -5px;
    
}

.coloruser{
    background-color: rgba(211, 210, 210, 0.073);
}

.fields i {
    height: 16px;
    margin: 0 10px -2px 8px;
    
}


.registrobtn{
   width: 130px;
   top: 100px;
   
}

.btncita{
    width: 130px;
    

}

@media only screen and (max-width: 600px) {
    .mainItems {
      grid-template-columns: auto;
    }
  }
